/* Mengimpor font Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* Menggunakan font Raleway untuk seluruh teks di body */
body {
  font-family: "Raleway", sans-serif;
}

/* Menggunakan font Raleway dengan gaya tertentu untuk kelas khusus */
.custom-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
